* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --timer-color: #323238;
    --bg: #FFFFFF;
    --bg-card: #E1E1E6;
    --bg-card-selected: #02799D;
    --bg-stroke: #323238;

    font-size: 62.5%;
    
    --ff-main: 'Roboto', sans-serif;
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
    background-color: var(--bg);
    font-size: 1.6rem;
    font-family: var(--ff-main);
    display: grid;
    place-items: center;
    min-height: 100vh;
}


body.light-mode {
    --timer-color: #323238;
    --bg: #FFFFFF;
    --bg-card: #E1E1E6;
    --bg-card-selected: #02799D;
    --bg-stroke: #323238;
}

body.dark-mode {
    --timer-color: #FFFFFF;
    --bg-card: #29292E;
    --bg-card-selected: #0A3442;
    --bg: #121214;
    --bg-stroke: #C4C4CC;

}

button {
    border: none;
    background: none;
    cursor: pointer;

}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "timer butons-sound modes"
    "butons-control butons-sound modes";
    place-items: center;
    margin: 0 10rem;
    align-items: flex-start;
    
}

.container > section:nth-child(2) > div:nth-child(1) {
    margin-right: 19.2rem;
}

.modes {
    display: grid;
    grid-area: modes;
    margin: 0 5rem 0 5rem;
    cursor: pointer;
}

.hide {
    display: none;
}


.timer {
    display: flex;
    grid-area: timer;
    color: var(--bg-stroke);
}

.timer span {
    font-size:12.6rem;
    margin-bottom: 3rem;
    color: var(--bg-stroke);
}

.controls-container {
    display: flex;
    gap: 4rem;
    grid-area: butons-control;
}


.controls {
    border: none;
    background: var(--bg);
}

.sounds-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;
    grid-area: butons-sound;
}


.volume-bar {
    appearance: none;
    background-color: var(--bg-stroke);
    outline: none;
    border-radius: .5rem;
    height: .4rem;
    position: absolute;
    left: 2.4rem;
    bottom: 2.4rem;
    width: 9rem;
}

.volume-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 1.6rem;
    border-radius: 50%;
    background: var(--bg-stroke);
    width: 1.6rem;

}

.button {
    fill: var(--bg-card);
}

.container-volume {
    background: var(--bg-card);
    width: 13.8rem;
    height: 15.2rem;
    border-radius: 2.4rem;
    position: relative;
}



.button .color-button {
    fill: var(--bg-stroke);
}

.button-selected .bg-button {
    fill: var(--bg-card-selected);
}

.button-selected .color-button {
    fill: var(--bg);
}

.bg-control {
    fill: var(--bg-stroke);
}

.controls-selected path {
    fill: var(--bg-card-selected);
}

@media (max-width: 700px) {
    body {
        display: flex;
        max-width: 70rem;
        max-height: 70rem;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
    }

    .container > section:nth-child(2) > div:nth-child(1) {
    margin-right: 0;
    }

    .timer {
        justify-content: center;
        height: 10rem;
    }

    .timer span {
        font-size: 8.3rem;
    }

    .controls-container {
        margin: 0.5rem 0 3rem;
        gap: 3rem;
    }

    .controls-container svg{
        width: 3.4rem;
        height: 3.4rem;
    }
    
    .sounds-container {
        gap: 3rem;
    }

    .sounds-container svg{
        width: 8.9rem;
        height: 9.6rem;
    }

    .container-volume {
        width: 8.9rem;
        height: 9.6rem;
        border-radius: 1.2rem;
    }

    .volume-bar {
        position: absolute;
        left: 0.9rem;
        bottom: 1.3rem;
        width: 80%;
    }

    .volume-bar::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        height: 1.3rem;
        border-radius: 50%;
        background: var(--bg-stroke);
        width: 1.3rem;
    }

    .modes {
        display: flex;
        margin: 0;
        width: 22rem;
    }

}