* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --timer-color: #323238;
    --bg: #FFFFFF;
    --bg-darkmode: #121214;
    --bg-card: #E1E1E6;
    --bg-card-selected: #02799D;
    --bg-stroke: #323238;

    font-size: 62.5%;
    
    --ff-main: 'Roboto', sans-serif;
}

body {
    background-color: var(--bg);
    font-size: 1.6rem;
    font-family: var(--ff-main);
    display: grid;
    place-items: center;
    min-height: 100vh;
    position: relative;
    
}

button {
    border: none;
    background: none;
    cursor: pointer;

}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "timer butons-sound"
    "butons-control butons-sound";
    place-items: center;
    margin: 0 10rem;
    
}

.container > section:nth-child(2) > div:nth-child(1) {
    margin-right: 19.2rem;
}

.light-dark-mode {
    display: grid;
    position: absolute;
    right: 6rem;
    top: 6rem;
}

.light-mode {
    position: relative;
    cursor: pointer;
}

.dark-mode {
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
}

.hide-mode {
    display: none;
}


.timer {
    display: flex;
    grid-area: timer;
}

.timer span {
    font-size:12.6rem;
    margin-bottom: 3rem;
}

.controls-container {
    display: flex;
    gap: 4rem;
    grid-area: butons-control;
}


.controls {
    border: none;
    background: var(--bg);
}

.sounds-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;
    grid-area: butons-sound;
    
}

.button .bg-button {
    fill: var(--bg-card);
}

.button .color-button {
    fill: var(--bg-stroke);
}

.button-selected .bg-button {
    fill: var(--bg-card-selected);
}

.button-selected .color-button {
    fill: var(--bg);
}

.bg-control {
    fill: var(--bg-stroke);
}

.controls-selected path {
    fill: var(--bg-card-selected);
}

